body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-color: #f7f7f7;
    color: #333;
    padding: 100px 25px;
}

.jumbotron .btn-primary {
    background-color: #ff3f6c;
    border-color: #ff3f6c;
}

.jumbotron .btn-primary:hover {
    background-color: #e33b62;
    border-color: #e33b62;
}

section h2 {
    color: #333;
}

section p {
    color: #555;
}

.btn-primary {
    background-color: #ff3f6c;
    border-color: #ff3f6c;
}

.btn-primary:hover {
    background-color: #e33b62;
    border-color: #e33b62;
}

footer {
    background-color: #f7f7f7;
    color: #333;
}

footer a {
    color: #ff3f6c;
    text-decoration: none;
}

footer a:hover {
    color: #e33b62;
    text-decoration: none;
}
